main {
  position: relative;
}
.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
  border-radius: 3px;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
  background: rgba(c(black),0.7);
 @include mq(md) {
   display: none;
   left: em(216);
 }
  @include mq(xl) {
    left: em(266);
  }
  .bar {
    position: relative;
    @include mqie(){
      left: 5px;
      top: 16px;
    }
    &,
    &::before,
    &::after {
      position: absolute;
      width: 30px;
      height: 3px;
      background: c(grey-100);
    }
    &::before,
    &::after {
      content: '';
    }
    &::before{
      top: 8px;
    }
    &::after{
      bottom: 8px;
    }
  }
}
